<div class="jumbotron text-center">
  <h1 class="display-4 text-center">StudioAssistant</h1>
  <p class="lead text-center">A web application designed for the remote, mobile producer to organize their recording sessions.</p>
  <hr>
  <p class= "fw-light fs-6 text-center"> StudioAssistant will generate an overview of your calendar along with dynamic information regarding each session so you're never unprepared. </p>
  <%= button_to "Sign Up", signup_path, :method => :get, class: "text-center btn btn-primary btn-lg"  %>
</div>
