<h1 class= "text-center">Edit <%= @studio.name %> </h1>

<%# <%= render partial: "layouts/error", locals: { object: @studio } %>
<%# Above is commented out because of the error inline messages generated below %>

<%= render partial: 'form' %>