<div class= "page-header">
<h1 class= "text-center"> My Studios </h1>
<p class= "text-center text-muted font-weight-light"> view, edit, and create recording sessions </p> 
</div>
<hr>
<div class = "text-center">
 <%= button_to 'Create New Studio', new_studio_path, method: :get, class: 'text-center btn btn-primary'%>
 </div>
<% @studios.each do |studio| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title"><%= link_to studio.name, studio_path(studio) %> </h5>
    <p class="card-text"><%= studio_address_helper(studio) %> </p>
    <%= button_to 'Edit Studio', edit_studio_path(studio), method: :get, class: 'btn btn-primary'%>
    </div>
  </div>
<% end %>

