<h1 class="text-center"> <%= @studio.name %> </h1>
 
<%= render partial: "studio_info" %>

<br>
 <div class = "btn-group mx-auto text-center">
    <%= button_to 'Edit Studio', edit_studio_path(@studio), method: :get, class: 'btn btn-primary'%> 
    <%= button_to 'Delete Studio', studio_path(@studio), method: :delete, :onclick => "return confirm('Deleting this studio will also delete all of its sessions. Are you sure?')", class: "btn btn-danger"%>
  </div>